* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --off-white: #F1F6F9;
    --gray: #9BA4B5;
    --blue: #394867;
    --dark-blue: #212A3E;
  }

body {
    background-color: var(--off-white);
}

header {
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--blue);
    color: var(--off-white);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    display: inline-block;
    margin-right: 30vh;
    font-size: 40px;
    color: var(--off-white);
}

header div {
    display: inline-block;
    justify-content: left;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

header div ul {
    list-style: none;
    padding: 5px;
}

/* This element targets the li elements within the header ancestor to have proper margin and display */
header div ul li {
    display: inline-block;
    padding-left: 2vh;
    padding-right: 2vh;
}

a {
    color: var(--off-white);
    text-decoration: none;
    &:hover {
        color: #e7e7e7;
    }
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20vh;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25x;
    height: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--gray);
    color: #ffffff;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}